@font-face {
  font-family: 'OpenDyslexic';
  src: local('OpenDyslexic'),
 url('opendyslexic/OpenDyslexic-Regular.woff2') format('woff2'), url('opendyslexic/OpenDyslexic-Regular.woff') format('woff'), url('opendyslexic/OpenDyslexic-Regular.otf') format('opentype'), url('opendyslexic/OpenDyslexic-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexic';
  src: local('OpenDyslexic Bold'),
 url('opendyslexic/OpenDyslexic-Bold.woff2') format('woff2'), url('opendyslexic/OpenDyslexic-Bold.woff') format('woff'), url('opendyslexic/OpenDyslexic-Bold.otf') format('opentype'), url('opendyslexic/OpenDyslexic-Bold.eot') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexic';
  src: local('OpenDyslexic Italic'),
 url('opendyslexic/OpenDyslexic-Italic.woff2') format('woff2'), url('opendyslexic/OpenDyslexic-Italic.woff') format('woff'), url('opendyslexic/OpenDyslexic-Italic.otf') format('opentype'), url('opendyslexic/OpenDyslexic-Italic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}